@model PetStore.WebApp.Models.PagedResponseViewModel<PetStore.WebApp.Models.PetViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>Pet List</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/petList.css")" media="screen" />
    <style>

        th, td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .pagination {
            display: inline-block;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                border: 1px solid #ddd;
            }

                .pagination a.active {
                    background-color: #4CAF50;
                    color: white;
                    border: 1px solid #4CAF50;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }
    </style>
</head>
<body>
    <h1>Pet List</h1>
    @if (Model.Items.Count > 0)
    {
        <table class="pets-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Date of Birth</th>
                    <th>Weight</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="pets">
                @foreach (var pet in Model.Items)
                {
                    <tr>
                        <td>@pet.ID</td>
                        <td>@pet.Name</td>
                        <td>@pet.Type</td>
                        <td>@pet.DateOfBirth</td>
                        <td>@pet.Weight</td>
                        <td><a href="/home/privacy/1"> Update </a></td>
                        <td><button onclick="DeleteConfirm(@pet.ID)"> Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="pagination">
            <a href="/home/index/@Model.GetPreviousPage()">&laquo;</a>
            <a class="active" href="#">@Model.PageNumber</a>
            @if (Model.GetNextPage() != -1)
            {
                <a href="/home/index/@Model.GetNextPage()">&raquo;</a>
            }
            else
            {
                <a class="disabled" href="#">&raquo;</a>
            }
        </div>
    }
    else
    {
        <p>No pets found.</p>
    }
    <script>
        function DeleteConfirm(id) {
            var result = confirm('Confirm Delete');
            if (result) {
                console.log('Item deleted ' + id);
            }
        }
    </script>
</body>
</html>