@model PetStore.WebApp.Models.PagedResponseViewModel<PetStore.WebApp.Models.PetViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>Pet List</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/petList.css")" media="screen" />
    <script type="text/javascript" src="@Url.Content("~/js/Home.js")"></script>
    <style>

        th, td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .pagination {
            display: inline-block;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                border: 1px solid #ddd;
            }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
    </style>
</head>
<body>
    <h1>Pet List</h1>
    <form asp-action="Filter" method="post">
        <label>Filter type</label>
        <select name="Type">
            <option value="">Select</option>
            @if (Model.Filter.Type == "type")
            {
                <option value="type" selected>Type</option>
            }
            else
            {
                <option value="type">Type</option>
            }
            @if (Model.Filter.Type == "name")
            {
                <option value="name" selected>Name</option>
            }
            else
            {
                <option value="name">Name</option>
            }
        </select>
        <label>Filter value</label>
        <input name="Value" value="@Model.Filter.Value" />
        <label>Order by</label>
        <select name="OrderBy" value="@Model.Filter.OrderBy">
            <option value="">Ordery by</option>

            @if (Model.Filter.OrderBy == "name")
            {
                <option selected value="name">Name</option>
            }
            else
            {
                <option value="name">Name</option>
            }
            @if (Model.Filter.OrderBy == "dob")
            {
                <option selected value="dob">Date of birth</option>
            }
            else
            {
                <option value="dob">Date of birth</option>
            }
            @if (Model.Filter.OrderBy == "weight")
            {
                <option selected value="weight">Weight</option>
            }
            else
            {
                <option value="weight">Weight</option>
            }


        </select>
        <input type="submit" value="Submit" />
    </form>
    @if (Model.Items.Count > 0)
    {
        <table class="pets-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Date of Birth</th>
                    <th>Weight</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="pets">
                @foreach (var pet in Model.Items)
                {
                    <tr>
                        <td>@pet.ID</td>
                        <td>@pet.Name</td>
                        <td>@pet.Type</td>
                        <td>@pet.DateOfBirth</td>
                        <td>@pet.Weight</td>
                        <td>@Html.ActionLink("Update", "Index", "EditPet", new { id = pet.ID })</td>
                        <td>@Html.ActionLink("Delete", "DeletePet", pet)</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="pagination">
            @if (Model.PageNumber > 1)
            {
                <a href="/home/index/@Model.GetPreviousPage()">&laquo;</a>
            }
            <a class="active" href="#">@Model.PageNumber</a>
            @if (Model.GetNextPage() != -1)
            {
                <a href="/home/index/@Model.GetNextPage()">&raquo;</a>
            }
        </div>
    }
    else
    {
        <p>No pets found.</p>
    }
    <script>
        function filterApply() {
            jQuery.get("/Home/Index");
        }
    </script>
</body>
</html>