@model List<PetStore.Services.Models.Pet>

<!DOCTYPE html>
<html>
<head>
    <title>Pet List</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/petList.css")" media="screen" />
    <style>

        th, td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Pet List</h1>
    @if (Model.Count > 0)
    {
        <table class="pets-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Date of Birth</th>
                    <th>Weight</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="pets">
                @foreach (var pet in Model)
                {
                <tr>
                    <td>@pet.ID</td>
                    <td>@pet.Name</td>
                    <td>@pet.Type</td>
                    <td>@pet.DateOfBirth</td>
                    <td>@pet.Weight</td>
                    <td><a href="/home/privacy/1"> Update </a></td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No pets found.</p>
    }
</body>
</html>